<!-- views/userList.ejs -->

<html>
<head>
  <title>User List</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
      background: #ffffff;
    }

    h1 {
      text-align: center;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      border: 1px solid #090909;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #7f7f7f;
    }

    tr:hover {
      background-color: #f5f5f5;
    }
  </style>
</head>
<body>
  <h1>User data List</h1>
  <table>
    <tr>
      <th>Username</th>
      <th>Full Name</th>
      <th>Email</th>
      <th>address</th>
      <th>District</th>
      <th>zip</th>
      <th>State</th>
      <th>CCName</th>
      <th>CCCVV</th>
      <th>CCExpiration</th>



     
    </tr>
    <% users.forEach(user => { %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.fullName %></td>
        <td><%= user.email %></td>
        <td><%= user.address %></td>
        <td><%= user.district %></td>
        <td><%= user.zip %></td>
        <td><%= user.state %></td>
        <td><%= user.ccname %></td>
        <td><%= user.cccvv %></td>
        <td><%= user.ccexpiration %></td>
       
       
        
        
        
      
      </tr>
    <% }); %>
  </table>
</body>
</html>
